@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration 
@{
    ViewData["Title"] = "ReadAppsettings";
}

<h1>讀取appsettings.json組態設定值</h1>

<p>DatabaseContext 資料庫連線：@configuration["ConnectionStrings:FriendContext"]</p>

Developer 資料如下：
<ul>
    <li>Name:@(configuration.GetValue<string>("Developer:Name"))</li>
    <li>Email:@(configuration.GetValue<string>("Developer:Email","找不到Email"))</li>
    <li>Website:@(configuration.GetSection("Developer:Website").Value)</li>
</ul>