
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>@Html.ActionLink("範例7-1 製作學生考試成績列表", "Scores", "RazorScores")</p>

<p>@Html.ActionLink("範例7-2 以Razor判斷成績高低及找出總分最高者", "ScoresRazor", "RazorScores")</p>

<p>@Html.ActionLink("範例7-3 在View中用Razor、C#8及LINQ找出總分最高者", "ScoresRazorPure", "RazorScores")</p>