
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>




@Html.ActionLink("範例7-4 ", "SimpleCard", "PartialView")
<br />

@Html.ActionLink("範例7-5 ", "CardList", "PartialView")
<br />


@Html.ActionLink("PartialView EF Core ", "CardListDB", "PartialView")
<br />